

header {
    margin-top: 20px;
    
    font-size: 25px;
    color: #AB0909;
    
    font-family: 'Sriracha', cursive;

    
    display: flex;
    flex-direction: column;
    align-items: center;
}



#background {

    height: 120vh;
    width: 200vh;
    background: url("./Wallpapers/819X8VLTZxL._AC_SL1500_.jpg")no-repeat;
}

#background input {
    
    margin-top: 80px;
    margin-left: 300px;
    font-size: 30px;
    
}

#background input:hover {

    color:#AB0909;
}
